/* Колір основного тексту  #757575;  */
/* Вторинний колір текстy  #212121; */
/* Білий колір #FFFFFF; */
/* Колір акценту  #2196F3; */
/* Колір вторинного фону #F5F4FA; */
:root {
--primery-background-color: #FFFFFF;
--primery-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--secondary-background-color:#F5F4FA;
--card-background-color: #FFFFFF;
--dark-text-color: #000000;
--light-text-color: #FFFFFF;
--aktive-hero-btn-color: #188CE8;
--dark-background-color: #2F303A;
--address-link-color: rgba(255, 255, 255, 0.6);
--border-card-color:#EEEEEE;
--footer-border-color: #ECECEC;
}
.page-body {
background-color: var(--primery-background-color);
color: var(--primery-text-color);

font-family: Roboto, sans-serif;
letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.list {
list-style: none;

padding: 0;
margin: 0;
}

.link {
 text-decoration: none;   
}
.img{
    display: block;
    max-width: 100%;
}
.card {
    background-color: var(--card-background-color);
}
/* Шапка */
.page-header {
    padding-top: 24px;
    border-bottom: 1px solid var(--footer-border-color);
}
.main-nav {
    display: flex;
    align-items: center;
}
/* Логотип */
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
  
    color: var(--dark-text-color);
}
.header-logo-web {
color: var(--accent-color);
}
/* Навігація */
.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav .item:not(:last-child){
    margin-right: 50px;
}
.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    color: var(--title-text-color);
    }

.site-nav .current,
.site-nav .link:hover,
.site-nav .link:focus
{
    color: var(--accent-color);
}
.auth-nav {
    display: flex;
    margin-left: auto;
}
.auth-nav .item + .item {
    margin-left: 50px;
}
.auth-nav .link{
display: block;
padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    color: inherit;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}
/* Баннер */
.hero {
    background-color: var(--dark-background-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 94px;
}
.hero-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-text-color);

   
}
.hero-button {
    background-color: var(--accent-color);
    color: var(--light-text-color);

    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;

    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px; 
    padding: 10px 32px;   

}
.second-hero-button:hover,
.second-hero-button:focus{
    background-color: var(--aktive-hero-btn-color);
}

/* Особливості */
.features {
    margin-bottom: 94px;
}
.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;

    color: var(--title-text-color);
}
.features-list {
    display: flex;
}
.features-list .item {
    width: 270px;
}
.features-list .item + .item {
    margin-left: 30px;
}
.features-list .title{
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);
}
.features-list .text {
    font-size: 14px;
    line-height: calc(24/14);

    color: var(--primery-text-color);
}
/* Чим ми займаємося */
.specialization {
    margin-bottom: 94px;
}
.specialization-list {
    display: flex;
}
.specialization-list .item + .item {
    margin-left: 30px;
}
.specialization-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;

    color: var(--title-text-color);
}
/* Команда */
.team {
    background-color: var(--secondary-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-list {
    display: flex;
}
.team-list .img {
    margin-bottom: 30px;
}
.team-list .card + .card {
    margin-left: 30px;
}
.team-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;

    color: var(--title-text-color);
}
.team-list .title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;

    color: var(--title-text-color);
}
.team-list .text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
}
/* Футер */
.footer {
    background-color: var(--dark-background-color);

    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo {
    display: block;
    margin-bottom: 20px;
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
 
    color: var(--light-text-color);
}
.footer-logo-web {
    color: var(--accent-color);
}
.address .link{
    font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);

    color: var(--address-link-color);
}
.address .item:not(:last-child) {
    margin-bottom: 9px;
}
.address .city {
    font-size: 14px;
    line-height: calc(24/14);
       
    color: var(--light-text-color);
}
.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}
/* Портфоліо */
.portfolio {
    margin-top: 94px;
    margin-bottom: 94px;
}
.portfolio .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filters .item +.item {
    margin-left: 8px;
}
.portfolio .button {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;
    
    cursor: pointer;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;

    background-color: var(--secondary-background-color);
    color: var(--title-text-color);
}
.portfolio .button:hover,
.portfolio .button:focus {
    background-color: var(--accent-color);

    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;

    color: var(--light-text-color);
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio .card:not(:nth-child(3n)){
    margin-right: 30px;
}
.portfolio .card:not(:nth-last-child(-n+3)){
    margin-bottom: 30px;
}
.portfolio-list .card {
    flex-basis: calc(100%/3-30px);
    border-bottom: 1px solid var(--border-card-color);
}
.portfolio .description {
    margin: 20px 24px;
}
.portfolio-list .title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;

    color: var(--title-text-color);
}
.portfolio-list .text {
    font-size: 16px;
    line-height: calc(30/16);
}